/* fonts.google.com fuentes de texto de Google */
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger; /* pt: puntos, px: pixeles */
    font-weight: 300;
}