/* # Crea un nuevo documento HTML con el título "Disposición de elementos en CSS"
* Crea un nuevo fichero CSS e impórtalo en el documento HTML principal
* Utiliza la disposición flex-box para crear una galería de 6 imágenes con los siguientes parámetros
    Las imágenes deben tener 300 píxeles de ancho
    Deben reagruparse (wrap) cuando el ancho del viewport cambia  */

.fondo {
    background-color: rgb(209, 239, 245);
    display: flex;
    flex-wrap: wrap;
    /*gap: 10px; /* espacio entre elementos */
}

.contenedor-1 {
    background-color: white;
    /*width: 325px; /* ancho */
    /*height: 175px; /* altura, si no se pone, se agranda segun el texto por align-items: center; */
    border: 1px solid blue;
    padding: 10px; /* espacio arriba y abajo */
    margin: 10px; /* margen entre elementos */
}

.imagen-galeria {
    width: 300px; /* ancho */
    height: 150px; /* altura */
    align-items: center;
}